.player-scores-div{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.player-scores, .player-status{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-scores{   
    background-color: #F6F7F8;
    border-bottom: solid #011627;    
}

.player-status{
    background-color: #3399FF;
    border-top: solid #011627;
}

.player-scores-div span{
    text-decoration: underline;
    font-weight: bold;
}

.player-scores-div ul {
    background-color: rgb(5, 5, 5, .1);
    list-style-type: none;
    margin:0;
    padding:0;
    padding-left: 2%;
    padding-right: 2%;
    width: 85%;
    height: 80%;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

.player-scores-div li {
    font-size: 1.25em;
    width: 80%;
}