.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  height: 80vh;
  width: 100vw;
}

.home {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: lightgrey;
  margin-top: 5vh;
  margin-bottom: 1vh;
  padding: 1.5em;
  font-size: 3.75vh;
  user-select: none;
  border-style: groove;
}

.home input{
  border-style: hidden;
  padding: 100px;
  width: 200px;
  height: 4vh;
  padding: 0;
  margin: 0;
  font-size: 3.5vh;
  text-align: center;
  cursor: text;
  background: transparent;
  border: 0;
  border-bottom: 2px solid black;
}
/* .home input{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;} */
.home input ~ .focus-border{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #3399FF; 
  transition: 0.4s;
  margin-left: 0;
  
}

.home input:focus{
  outline: none;
}

.effect-1 ~ .focus-border{
  position: absolute; bottom: 0; left: 0; width: 0; 
  height: 2px; 
  background-color: #3a43ef; 
  transition: 0.4s;}

.home input:focus ~ .focus-border{
  width: 100%; 
  transition: 0.4s;
}

.home .inputContainer {
  float: left;
  position: "relative";
  display: "inline";
  margin:0;
  padding: 0;
}

.home button{
  height: 3.5vh;
  cursor: pointer;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 20vh;
  background: #3a43ef;
  color: white;
}

.navBar h1{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pic-logo {
  text-decoration: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.pic-logo:hover h2, .pic-logo:hover h1{
  color: white;
}

.pic-logo img {
  display: inline;
  max-height: 20vh;
}

.pic-logo div {
  position: absolute;
  top: 60%;
  left: 34%;
  transform: translate(-50%, -50%);
}

.pic-logo h2 {
  font-size: 4.5vh;
  margin: 0;
  padding: 0;
  color: black;
}
.pic-logo h1 {
  margin: 0;
  padding: 0;
  font-size: 7.5vh;
  color: black;
}

.nav-logo {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: black;
  margin-left: 5vw;
  font-size: 2em;
}
.nav-link:hover {
  color:white;
}

img {
  max-height: 20vh;  
}

.menu-option {
  margin-bottom: 10px;
}

.menu-option button {
  margin-left: 10px;
}

.menu-option span {
  margin-left: 10px;
}