.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: gold;
  color: purple;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.menu-option {
  margin-bottom: 10px;
}

.menu-option button {
  margin-left: 10px;
}

.menu-option span {
  margin-left: 10px;
}